= javascript_include_tag "home"
= javascript_include_tag "task"
.message
  %h1 head
  %p 
    %span{:class => 'who'}
    %span{:class => 'message'}
= link_to "Connect", "###", :id => "connect_web_socket", :class => "btn btn-primary"
= link_to "Send Message", "###", :id => :send_message, :class => "btn btn-primary"

